splines==0.3.0
plyfile==0.8.1
numpy
tensorboard
wand
tqdm
jax
ninja
jaxtyping
rich
jaxlib
icecream
pyyaml
gputil
einops
transforms3d
imageio
viser
opencv-python==4.8.*
matplotlib
joblib
nerfview
open3d
scikit-optimize
numba
./submodules/simple-knn
./submodules/diff-gaussian-rasterization